<h1>Restaurants</h1>
  <h5><%= @restaurant.name %></h5>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p> <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
  <p> <%= link_to "Destroy", @restaurant, method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% @restaurant.reviews.each do |review| %>
   <%= review.content %>
   <br>
   <%= review.rating %>
   <% end %>

<%= link_to 'Home', restaurants_path %>
